*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
   font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body {
  margin: 0;
  overflow-x: hidden;
   background-color: yellow;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.container-fluid {
  background-color: yellow;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  justify-content: center;
  align-content: center;
  gap: 1rem;
}

.head {
  text-align: center;
  font-weight: 700;
  margin-bottom: 5rem;
  text-decoration: underline;
}
.searchBar {
  display: flex;
  justify-content: center;
  gap: 7px;
  margin-top: 22px;
}
.searchBar input {
  width: 30%  ;
  padding: 5px;
  font-size: 22px;
  border: 1px solid black;
  background-color: #e7e7e7;
}
.searchBar button{
  padding: 8px 2rem;
  background-color: red;
  border-radius: 18px;
}
.meals {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
  margin: auto;
  margin-top: 44px;
  background-color: yellow;
  width: 100%;
  padding: 0px 1rem 1rem 1rem;
}
.meals-container{
  background-color: yellow;
  height: 100vh;
  width: 100% ;
}
.meals img {
  width: 100%;
  height: 200px;
  border-top-left-radius: 11px;
  border-top-right-radius: 11px;
}
.mealImg {
  width: 280px;
  height: 350px;
  text-align: center;
  background-color: #f3efeff1;
  box-shadow: 0px 3px 3px 3px rgb(174, 174, 174);
  border-radius: 11px;
}
.mealImg p {
  font-weight: 600;
  margin-top: 10px;
}
.mealImg button {
  width: 120px;
  background-color: orange;
  color: white;
  font-size: 17px;
  border: none;
  border-radius: 21px;
  padding: 7px;
  cursor: pointer;
}
.meal-details{
  height: 100vh;
  background-color: yellow;
}

.mealInfo {
  width: 100%;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 22px;
  justify-content: center;
  align-items: center;
  background-color: yellow;
  padding: 32px;
}
.mealInfo > div{
  display: flex;
  gap: 50px;
  padding: 1rem;
}
.mealInfo img {
  width: 350px;
  height: 300px;
  border-radius: 11px;
  box-shadow: 0px 4px 4px 0px rgb(174, 174, 174);
}
.mealInfo button {
  border: none;
  padding: 9px;
  border-radius: 6px;
  font-size: 19px;
  background-color: orangered;
  color: #fff;
  margin: 10px 0 10px 0;
}
/* .mealInfo .info{
  margin-top: -112px;
  align-items: center;
} */

.msg {
  text-align: center;
  padding: 2rem 0 1rem 0;
}
.suggestions {
  display: flex;
  justify-content:center;
  align-items: center;
  margin: 50px auto;
  padding: 0 30% 0 30%;
  gap: 1rem;
  width: 90%;
  height: 100px;
}

.suggestions button {
  padding: 5px 15px;
  border: none;
  border-radius: 11px;
  box-shadow: 0px 5px 5px 0px rgb(174, 174, 174);
  background-color: #fc5519;
}

@media only screen and (max-width:700px){
   .mealInfo > div{
    flex-direction: column;
    padding: 1rem 2rem;
   }
}
@media only screen and (max-width:340px){
  .mealInfo{
    padding: 1rem 0;
  }
  .mealInfo img{
    width: 100%;
  }
  .container-fluid > div{
    width: 100%;
  }
  .searchBar{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
  }
  .searchBar input{
    height: 2.5rem;
    width: 90%;
  }
  .suggestions{
    flex-direction: column;
    
  }
}